.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  height: 100px;
  margin: 20px 0 0 20px;
  padding-left: 10px;
  font-size: 20px;
  color: #ffffff;
  background-color: #000000;
}